<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav class="nav-bar">
    <a href="/">HOME</a>
    <% if (user) { %>
      <a href="/reminders/new">SET REMINDER</a>
      <a href="/reminders">MY REMINDERS</a>
    <% } %>
    <a href="/" class="logo">RosyRemind</a>
    <% if (user) { %>
      <div class="user-info">
        <span>Welcome, <%= user.name %></span>
      <a href="/logout">LOG OUT</a>
    <% } else { %>
      <!-- User is not logged in -->
      <a href="/auth/google" class="login">
        PLEASE, LOG IN
        <img src="/images/Google.png" alt="Google Login">
      </a>      
    <% } %>
  </nav>
</body>
</html>