<%- include('partials/header') %>
<div class="main-content">
  <h2>WE SEND<br>REMINDERS SO YOU<br>HOLD THE MEMORIES</h2>
  <form action="/reminders/new" method="GET">
      <button type="submit" class="reminder-button">SET A REMINDER</button>
  </form>
</div>
<%- include('partials/footer') %>
