<%- include('partials/header') %>
<h2>WE SEND REMINDERS SO YOU HOLD THE MEMORIES.</h2>
<form action="/reminders/new" method="GET">
    <button type="submit">SET A REMINDER</button>
</form>
<%- include('partials/footer') %>