/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
  background-image: url('/images/HomePageL.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f6f4f1;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  font-size: 0.9em;
}

.nav-bar a, .nav-bar span {
  margin: 0 20px;
  text-decoration: none;
  color: #5b5247;
  padding: 10px;
  display: inline-block;
}

.nav-bar img {
  height: 70px;
  vertical-align: middle;
}

@media (max-width: 600px) {
  .nav-bar a, .nav-bar span {
    font-size: 0.8em;
    margin: 10px;
  }
  h2 {
    font-size: 2em;
  }
}

.nav-bar a:hover {
  color: #4a4439;
}

.logo {
  font-size: 2.5em;
  font-weight: bold;
  text-decoration: none;
  color: #5b5247;
  padding: 10px;
  display: inline-block;
}

.logo:hover {
  color: #5b5247;
  text-decoration: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 25px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
}

.user-info span {
  order: 1;
}

/* Logout */
.logout {
  order: 2;
  font-size: 0.9em;
  padding: 3px 20px;
}

/* h2 */
h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 3.3em;
  font-style: italic;
  font-weight: normal;
  position: absolute;
  color: #ffffff;
  text-align: right;
  max-width: 1000px;
  line-height: 1;
  letter-spacing: 5px;
  white-space: pre-line;
  right: 7%;
  bottom: 8%;
}

/* Button Styles */
.reminder-button {
  background-color: #ffffff;
  color: #5b5247;
  border: 1px solid #5b5247;
  border-radius: 25px;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  width: 200px;
  position: absolute;
  right: 7%;
  bottom: 3%;
}

.reminder-button:hover {
  background-color: #ad9d81;
}

/* REMINDER PAGE */

.reminder-page-body {
  background-image: url('/images/BG.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.reminder-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-sizing: border-box;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 20%;
  max-width: 1400px;
  max-height: 1200px;
}

.reminder-form-group {
  display: flex;
  align-items: left;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 25px;
  max-height: 50px;
}

.form-left {
  flex-basis: 40%;
}

.reminder-form-input {
  background-color: #ad9d81;
  border: 1px solid #ad9d81;
  border-radius: 25px;
  padding: 15px;
  font-size: 1em;
  color: #5b5247;
  align-items: left;
  width: 100%;
}

.reminder-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  
}

.reminder-form button {
  background-color: #ad9d81;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 15px 15px;
  font-size: 1.3em;
  cursor: pointer;
  display: block;
  margin: auto;
  width: 300px;
  margin-top: 5px;
}

.reminder-form button:hover {
  background-color: #4a4439;
}

.reminder-form-title {
  font-size: 2.8em;
  letter-spacing: 20px;
  font-weight: bold;
  color: #5b5247;
  margin-bottom: 5px;
}

.reminder-form-subtitle {
  font-size: 1.8em;
  font-style: italic;
  max-width: 750px;
  align-items: center;
  color: #5b5247;
  margin-top: 10px;
  text-align: center;
}

.reminder-form h4 {
  flex-direction: row;
  font-size: 1em;
  color: #5b5247;
  margin-top: 1px;
  margin-bottom: 3px;
  text-align: right;
  max-width: 400px;
}

.reminder-form p {
  flex-direction: row;
  font-size: .7em;
  color: #5b5247;
  margin-top: 1px;
  margin-bottom: 3px;
  text-align: right;
  max-width: 400px;
}